body {
  margin: 0;
  padding: 0;
  height: 100vh;
}

.main {
  display: flex;
  height: 100%;
}

.left {
  flex: 1;
}

.image {
  display: flex;
}

.image img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.right {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgb(250, 250, 250);
}

.header, .footer {
  padding-left: 35px;
}

.header {
  max-width: 520px;
  margin-bottom: 40px;
  font-weight: bold;
  font-size: larger;
}

.row {
  display: flex;
  justify-content: space-around;
  padding: 10px;
  flex: 1;
  max-width: 635px;
}

input {
  display: block;
  height: 20px;
  width: 250px;
}

.right .hero {
  margin-bottom: 55px;
  background-color: white;
  padding: 0px;
  box-shadow: 3px 3px 3px 2px rgb(0 0 0 / 15%);
}

.button {
  width: 200px;
  height: 40px;
  margin-top: 25px;
  margin-bottom: 25px;
}

.log_in {
  display: flex;
}